<h1>Stupid Coach</h1>

<blockquote class="border-left background">
<p ><%=@question%></p>
<p>- You</p>
</blockquote>
<div class="border-left background">
<p><%=@answer%></p>
<p>- Your Coach</p>
</div>

<%=link_to"Ask a new question", ask_path%>
